/* navbar */
@media (max-width:992px) and (min-width:200px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
    a{
        text-decoration: none;
    }

    .navbar{
    background-color:#ff6600;
    padding: .5rem 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    opacity: 1;
    }
    .web-logo{
        display: none;
    }
    .phone-logo{
        display: inline-block;
        width: 70px;
        border: 1px solid transparent;
        border-radius: 50%;
    }

    .navbar-nav li a{
        color: #fff !important;
        text-transform: uppercase;
        font-family: 'monserrat', sans-serif;
        font-weight: bold;
    }
    .navbar-nav li a:hover{
       color: brown !important;
    }
    .navbar-nav .active{
        color: brown !important;
        transition: all 0.2s ease !important;
     }

     /* carousal start */
     .carousel{
        position: relative;
        margin-top: 94px !important;
    }

    .carousel-caption{
        position: absolute;
        right: 15%;
        bottom: 1.25rem;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        margin-bottom: 10px!important;;
    }
    .carousel-caption h1{
        font-size: 1.5rem !important;  
    }
    .carousel-caption h5{
        font-size: 1rem !important;
    }
    .carousel-caption p{
        display: none !important;
    }
    .carousel-indicators [data-bs-target] {
       display: none;
    }

    /*  carousal button */
    .btn-1{
        background: #FFE4A3;
        border: 1px solid #FFE4A3;
        color: black;
        font-size: 10px;
        font-family: 'monserrat', sans-serif !important;
        border-radius: 30px !important;
        padding: 5px 10px !important;
    }
    .btn-1:hover{
        background: #fff;
        transition: all .2s ease;
    }


    /* section-2 start */

    .section-2 h1{
        font-family: poppins-semibold;
        font-size: 40px;
        color: #56333E;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .section-2 p{
        color: #272525;
        font-size: 20px;
        text-align: justify;
        padding-top: 20px;
    }
    .section-2 .btn-3{
        background: #BD2151;
        border: 1px solid #fff;
        padding: 9px 26px;
        border-radius: 30px;
        color: goldenrod;
        font-size: 20px;
        font-weight: 400;
        outline: 0;
        text-transform: uppercase;
    }
    .section-2 .btn-3:hover{
        background:transparent;
        color:black;
        transition: all .3s ease-in;
        border: 1px solid #BD2151;
    }
    .section-2 .a-btn{
        text-align: center !important;
    }

    /* section-3 start */
    .section-3 h1{
        font-family: poppins-semibold;
        font-size: 50px;
        color: #56333E;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-left:0px !important;
        text-align: center;
        }
   .section-3 p{
            color: #272525;
            font-size: 20px;
            text-align: justify;
            padding-top: 10px;
        }
    .section-3 .btn-4{
            background: #BD2151;
            border: 1px solid #fff;
            padding: 9px 26px;
            border-radius: 30px;
            color: goldenrod;
            font-size: 20px;
            font-weight: 400;
            outline: 0;
            text-transform: uppercase;
        }
    .section-3 .btn-4:hover{
            background:transparent;
            color:black;
            transition: all .3s ease-in;
            border: 1px solid #BD2151;
        }
    .section-3 .a-btn-1{
            align-items: center !important;
            display: flex;
            justify-content: center;
            text-decoration: none;
            
        }

     /* section-4 start */
     .section-4 h1{
        font-family: poppins-semibold;
        font-size: 50px;
        color: #56333E;
        padding-top: 20px;
        padding-bottom: 0px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: -5rem;
    }
    .section-4 .web-img{
      display: none;
    }
    .section-4 .phone-img{
        display: block;
        margin-top: px;
    }
    /* section-5 start */
    .section-5 h1{
        font-family: poppins-semibold;
        font-size: 50px;
        color: #56333E;
        padding-top: 20px;
        padding-bottom: 0px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: -3rem;
    }
    .section-5 article h3{
        font-family: poppins-semibold;
        font-size: 25px;
        color: #56333E;
        padding-top:15px;
        padding-bottom: 5px;
        text-transform: capitalize;
        text-align: center;
    }
    .section-5 article p{
        font-family: poppins-semibold;
        font-size: 15px;
        color: #56333E;
       padding: 5px 10px;
        text-transform: capitalize;
        text-align: center;
    }
    .section-5 article{
        transition: all .5s ease-in-out ;
    }
    .section-5 article:hover{
        transform: translatey(-30px);
    }
    


/* about page start */

/*  carousal section  of single pic*/
.about-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;

}
.about-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 6.5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}


/* section-1 */
.section-about-1{

}
.section-about-1 .about-img-1 img{
    height: 300px;
    width: 330px;
    margin-top: 0px !important;
    text-align: center !important;
    width: 100%;
    }
.section-about-1 h1{
    font-family: poppins-semibold;
    font-size: 30px;
    color: #56333E;
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: capitalize;
    /* text-align: center; */
}
.section-about-1 p{
    font-family: poppins-semibold;
    font-size: 16px;
    color: #56333E;
    padding-top: 5px;
    padding-bottom: 10px;
    text-transform: capitalize;
    /* text-align: center !important; */
}



/* facilities page start */

/*  carousal section  of single pic*/
.facilities-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

}
.facilities-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

.section-facilities-1 .facilities-fig-img img{
    width: 330px;
    height: 200px;
    text-align: center !important;
}


/* activities page start */

/*  carousal section  of single pic*/
.activities-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

}
.activities-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 4.5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-activities-1 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
}
.section-activities-1 h4{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 25px;
    text-align: center;
}

/* section-2 */
.section-activities-2 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
}

.section-activities-2 .activities-column{
    border: 1px solid #fff;
    border-radius: 20px;
    width: 100%;
    margin:20px  auto;
    text-align: center !important;
}
.section-activities-2 .activities-column img{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100px;
}


/* rules and reulation page start */

 /*  carousal section  of single pic*/
 .rules-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;


}
.rules-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 6.5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-rules-1 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
    text-transform: capitalize;
}
.section-rules-1 .border-ac-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.section-rules-1 .border-ac-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.section-rules-1 h4{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
}




/*  gallery page start */

/*  carousal section  of single pic*/
.gallery-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

}
.gallery-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-gallery-1 .container .row  h1{
    text-transform: uppercase;
    font-size: 30px;
    font-family: poppins-semibold;
    color: #56333E;
    padding: 20px 10px;
    /* text-align: center; */
}



/* contact page start */

.contact-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;

}
.contact-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 12rem;
    padding-left: 3.5rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-contact-1 h2{
    text-transform: uppercase;
    font-size: 30px;
    font-family: poppins-semibold;
    color: #56333E;
}
.section-contact-1 p{
    text-transform: capitalize;
    font-size: 20px;
    font-family: poppins-semibold;
    color: #56333E;
}
.section-contact-1 .college-map iframe{
    width: 100%;
    height: 281px;
    text-align: left
}







    
     
}