*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'monserrat', sans-serif;
}
a{
    text-decoration: none;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#fff url('https://www.animatedimages.org/data/media/276/animated-school-image-0028.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;

}


/* navigation */
.navbar{
    /* background:linear-gradient(rgba(0,0,0,0.5),ragb(0,0,0,0.6)); */
    background: #AB0D4B;
    padding: 2px 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
figure {
    margin: 0 0 0rem;
}
.figure-logos img{
transition: all .2s ease-in-out;
}
.figure-logos img:hover{
    transform: rotate(360deg);
}
.web-logo{
    width: 80px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.phone-logo{
    display: none;
}
.navbar-nav li a{
    color: #fff !important;
    text-transform: uppercase;
    font-family: 'monserrat', sans-serif;
    font-weight: bold;
    font-family: poppins-semibold;
}
.navbar-nav li a:hover{
   color:#FFE4A3 !important;
   transition: all .2s ease;
}
.navbar-nav .active{
    color:#FFE4A3 !important;
 }

 /* carousal */
 .carousel-caption{
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    margin-bottom: 11rem!important;
    cursor: pointer;
}
.carousel-caption p{
    font-size: 20px !important;
    line-height: 1.5rem!important;
    letter-spacing: 1px !important;
    word-spacing: 3px !important;
    font-family: poppins-semibold;
    
}
.carousel-caption h1{
    font-size: 2rem !important;
    font-family: poppins-semibold;
}
.carousel-caption h5{
    font-size: 1.5rem !important;
    font-family: poppins-semibold;

}
.btn-1{
    background: #FFE4A3;
    border: 1px solid #FFE4A3;
    color: black;
    font-size: 15px;
    font-family: 'monserrat', sans-serif !important;
    border-radius: 30px !important;
    text-align: center;
    padding: 10px 20px !important;
}
.btn-1:hover{
    background: #fff;
    transition: all .2s ease;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #AB0D4B;
    background-clip: padding-box;
    border: 0;
    /* border-top: 10px solid gainsboro; */
    /* border-bottom: 10px solid transparent; */
    opacity: .5;
    transition: opacity .6s ease;
    border: 2px solid #fff;
    border-radius: 50%;
}
 

/* section-1  start*/
.section-1{
    background-image: linear-gradient(
        90deg,rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%),url(https://www.stjameshardoi.org/images/about_us.png);
            background-color: rgba(255,255,255,0);

            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
}
.section-1 p{
    word-wrap: normal;
    font-family: "
    'nunito',sans-serif !important;
    font-size: 20px !important;
    word-spacing: 0px;
    letter-spacing: 2px !important;
    line-height: 25px;
    text-align: justify;
    font-weight: bold;
    text-transform: capitalize;
    font-family: poppins-semibold;
}
.section-1 .btn-2{
    background: #BD2151;
    border: 1px solid #fff;
    padding: 9px 26px;
    border-radius: 30px;
    color: goldenrod;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
   
}
.section-1 .btn-2:hover{
    background:transparent;
    color:black;
    transition: all .3s ease-in;
    border: 1px solid #BD2151;
}


/* section-2 start */
.section-2{
    background-image: url("https://www.stjameshardoi.org/images/about_bg.png");
    background-size: cover;
    background-repeat:no-repeat ;
    cursor: pointer;

}
.section-2 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 50px;
    padding-bottom: 30px;
}
.section-2 p{
    color: #272525;
    font-size: 20px;
    text-align: justify;
    padding-top: 40px;
    font-family: poppins-semibold;
}
.section-2 .btn-3{
    background: #BD2151;
    border: 1px solid #FFE4A3;
    padding: 9px 26px;
    border-radius: 30px;
    color: goldenrod;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    text-transform: uppercase;
}
.section-2 .btn-3:hover{
    background:transparent;
    color:black;
    transition: all .3s ease-in;
    border: 1px solid #BD2151;
}

/* section-3 start */
.section-3{
background: url("https://www.stjameshardoi.org/images/notice_bg.png");
background-size: cover;
background-repeat: no-repeat;
cursor: pointer;
}
.section-3 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 40px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.section-3 p{
    color: #272525;
    font-size: 20px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 20px;
    text-transform: capitalize;
    font-family: poppins-semibold;
}
.section-3 .btn-4{
    background: #BD2151;
    border: 1px solid #FFE4A3;
    padding: 9px 26px !important;
    border-radius: 30px;
    color: goldenrod;
    font-size: 20px;
    font-weight: 400;
    outline: 0;
    text-transform: uppercase;
}
.section-3 .btn-4:hover{
    background:transparent;
    color:black;
    transition: all .3s ease-in;
    border: 1px solid #BD2151;
}

/* sectuon-4 start */
.section-4 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-4 .phone-img{
    display: none;
}
/* section 5 start */
.section-5{
   background:#FFF5DE ;
   cursor: pointer;
}
.section-5 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-5 article .img-border{
    background: #fff;
    width: 100%;
    /* height: 150px; */
    overflow: hidden;
    padding: 7px;
}
.section-5 article .img-border img{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.section-5 article h3{
    font-family: poppins-semibold;
    font-size: 30px;
    color: #56333E;
    padding-top:30px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}

.section-5 article p{
    font-family: poppins-semibold;
    font-size: 19px;
    color: #56333E;
   padding: 5px 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-5 article .btn-5{
    font-family: poppins-semibold;
    font-size: 17px;
    color: #56333E;
    padding: 10px 15px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.section-5 article .border-1{
    border-bottom:10px dashed #56333E; 
    width: 50%;
    margin: auto;
}
.section-5 article .border-2{
    border-bottom:2px solid #56333E; 
    width: 100%;
    margin: auto;
}
.section-5 article{
    transition: all .5s ease-in-out ;
}
.section-5 article:hover{
    transform: translatey(-25px);
}
.section-5 article .article-content-1{
    height: 438px;
    overflow: hidden;
 }
 .section-5 article .article-content-2{
    height: 438px;
    overflow: hidden;
 }
.section-5 article .article-content-3{
   height: 438px;
   overflow: hidden;
}
.section-5 article .article-content h3{
    font-family: poppins-semibold;
    font-size: 25px;
    color: #56333E;
   padding: 5px 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-5 article .article-content p{
    font-family: poppins-semibold;
    font-size: 15px;
    color: #56333E;
   padding: 2px 5px;
    text-transform: capitalize;
    text-align: center;
}
.section-5 article .article-content .marquee-content h3{
    font-family: poppins-semibold;
    font-size: 25px;
    color: #56333E;
    padding-top:30px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-5 article .article-content .marquee-content p{
    font-family: poppins-semibold;
    font-size: 15px;
    color: #56333E;
   padding: 2px 5px;
    text-transform: capitalize;
    text-align: center;
}

/* section-6 start */

.section-6{
    background-color: burlywood;
    cursor: pointer;
}
.section-6 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
}
.section-6 ul li{
    color:#56333E;
    list-style-type: square;
    font-size: 20px;
}
.section-6 ul li a{
    color: #fff;
}
.section-6 .content-logo-details{
    padding-top:50px ;
}
.section-6 .content-logo-details img{
    border: 2px solid #56333E;
    border-radius: 50%;
    width: 100%;
    transition: all .2s ease-in-out;
}
.section-6 .content-logo-details img:hover{
    /* transform: translate3d(20px,30px,20px); */
    transform: scale(2);
    scroll-behavior: smooth;
    cursor: pointer;
}

 
/* abou page start */

 /*  carousal section  of single pic*/
 .about-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;

}
.about-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 31rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-about-1 .about-img-1 img{
height: 300px;
width: 330px;
margin-top: 20px;
text-align: center !important;
}
.section-about-1 h1{
    font-family: poppins-semibold;
    font-size: 50px;
    color: #56333E;
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;
    /* text-align: center; */
}
.section-about-1 p{
    font-family: poppins-semibold;
    font-size: 20px;
    color: #56333E;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: capitalize;
    /* text-align: center !important; */
}


/* facilities page start */

 /*  carousal section  of single pic*/
 .facilities-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;

}
.facilities-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 27rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-facilities-1 .facilities-fig-img img{
    width: 300px;
    height: 200px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
}
.section-facilities-1 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 50px;
}
.section-facilities-1 h4{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
}
.section-facilities-1 p{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 20px;
}


/* activities page start */

 /*  carousal section  of single pic*/
 .activities-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;

}
.activities-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 27rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-activities-1 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 50px;
    text-transform: capitalize;
}
.section-activities-1 .border-ac-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.section-activities-1 .border-ac-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.section-activities-1 h4{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
    text-transform: capitalize;
}
.section-activities-1 .activities-list{
    list-style-image: url(../images/bullet.svg);
    padding-left: 18px;
    color:#56333E ;
    padding-bottom: 50px;
}
.section-activities-1 .activities-list li{
    list-style-type:  square;
}
.section-activities-1 .activities-list li a{
    color: #808080;
    font-family: poppins-semibold;
    font-size: 20px;
    text-align: justify;
   
}

/* section-2 */
.section-activities-2 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 50px;
}
.section-activities-2 .activities-column{
    border: 1px solid #fff;
    border-radius: 20px;
    width: 300px;
    margin: 20px 10px;
    outline: none;
}
.section-activities-2 .activities-column img{
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100px;
    transition: all .2s ease-in-out;
}
.section-activities-2 .activities-column img:hover{
   transform: scale(2);
}
.section-activities-2 .activities-column h5{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 20px;
    margin: 10px 0px;
    text-transform:capitalize;
}
.section-activities-2 .activities-column h6{
    color: #15356f;
    font-family: poppins-semibold;
    font-size: 18px;
    margin-bottom: 20px !important;
    text-transform: capitalize;
}

/* rules and reulation page start */

 /*  carousal section  of single pic*/
 .rules-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;


}
.rules-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 31rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-1 */
.section-rules-1 h1{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 50px;
    text-transform: capitalize;
}
.section-rules-1 .border-ac-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.section-rules-1 .border-ac-2{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.section-rules-1 h4{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;
}
.section-rules-1 h6{
    color: #56333E;
    font-family: poppins-semibold;
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
}
.section-rules-1 ul{
    padding-left: 20px !important;
}
.section-rules-1 ul li{
    list-style: square;
}
.section-rules-1 ul li a{
    color: #808080;
    font-family: poppins-semibold;
    font-size: 20px;
    text-align: justify;
}


/*  gallery page start */

 /*  carousal section  of single pic*/
 .gallery-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;


}
.gallery-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 28rem;
    font-family: poppins-semibold;
    overflow: hidden;
}

/* section-2 */
.section-gallery-1 .container .row  h1{
    text-transform: uppercase;
    font-size: 50px;
    font-family: poppins-semibold;
    color: #56333E;
    padding: 20px 10px;
    /* text-align: left; */
}

.section-gallery-1 .container .row .gallery-img{
    padding-bottom: 1rem;
    transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
}

.section-gallery-1 .container .row .gallery-img img:hover{
    color: red;
    transform: translateY(20px);
    scroll-behavior: smooth;
   
    
}

.section-gallery-1 .container .row .gallery-img .img-thumbnail {
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    height: 300px;
    cursor: pointer;
}

/* contact page start */

.contact-carousal-bg-1{
    background: url("https://www.stjameshardoi.org/images/cropped.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    cursor: pointer;

}
.contact-carousal-bg-1 .container .row  h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    margin-top: 28.5rem;
    padding-left: 24rem;
    font-family: poppins-semibold;
    overflow: hidden;
}


/* section-1 */

.section-contact-1 h2{
    text-transform: uppercase;
    font-size: 30px;
    font-family: poppins-semibold;
    color: #56333E;
}
.section-contact-1 p{
    text-transform: capitalize;
    font-size: 20px;
    font-family: poppins-semibold;
    color: #56333E;
}
.section-contact-1 .college-map iframe{
    width: 100%;
    height: 281px;
    text-align: left
}
.section-contact-1 .btn-primary{
    color: #fff;
    background-color: #AB0D40;
    border-color: #AB0D4B;
    font-size:20px ;
    font-family: poppins-semibold;
}
.section-contact-1 .btn-primary:hover{
    background: #fff;
    transition: all 1s ease-in-out;
}
























